/* the size anf font family of the checkbox text*/
label {
  font-family: sans-serif;
  font-size: 12px;
}

/* hide the legend */
#legend{
    visibility: hidden;
}

/* basic positioning of the legend*/
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; font-family: sans-serif; font-size: 8.3px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

/* colors of the barchart legend */
.legend .active { background-color: green; }
.legend .notactive { background-color: gray; }

/*colors of the timeline legend*/
.legend .lvoc { background-color: red; }
.legend .guitar { background-color: green; }
.legend .drums  { background-color: purple; }
.legend .key { background-color: gray; }
.legend .bass { background-color: blue; }
.legend .percussion { background-color: brown; }
.legend .horns { background-color: yellow; }
.legend .harmonica { background-color: fuchsia; }
.legend .flute { background-color: aqua; }
.legend .trompet { background-color: maroon; }
.legend .trombone { background-color: lime; }
.legend .banjo { background-color: orange; }
.legend .sax { background-color: pink; }
.legend .piano { background-color: teal; }
.legend .wash { background-color: navy; }
.legend .tea { background-color: darkolivegreen; }

/* d3 tip element */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* change color when hover over bars*/
.bar_no:hover {
  fill: #D0D0D0;
}

.bar_yes:hover {
  fill: #50D050;
}

/* change axis textsize*/
.axis text {
				font-family: sans-serif;
				font-size: 12px;
}

/* change axis*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* piechart title has to stay on the left*/
#PiechartText{
  float:right;
}

/* pie chart in one line with the timeline*/
#divPiechart{
    display:inline;
    float: right;
}

/*timeline*/
.chart {
  shape-rendering: crispEdges;
}

/* x axis style timeline*/
.xaxis path,
.xaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* the size of the container and scroll function */
div#container {
        height: 310px;
        width: 1000px;
        overflow: scroll;
        float:left;
        display:inline;
      }

/* the timeline text*/
.timeline text {
  font: 9px sans-serif;
}

/*instrument colors*/
.timelineItemvoc {
  fill: red;
  stroke-width: 6;
}

.timelineItemvocals {
  fill: red;
  stroke-width: 6;
}

.timelineItempercussion {
  fill: brown;
  stroke-width: 6;
}

.timelineItemhorns {
  fill: yellow;
  stroke-width: 6;
}

.timelineItemguitar {
  fill: green;
  stroke-width: 6;
}

.timelineItembass {
  fill: blue;
  stroke-width: 6;
}

.timelineItembass2 {
  fill: blue;
  stroke-width: 6;
}

.timelineItemflute2 {
  fill: aqua;
  stroke-width: 6;
}

.timelineItemtea {
  fill: darkolivegreen;
  stroke-width: 6;
}

.timelineItemtrompet {
  fill: maroon;
  stroke-width: 6;
}

.timelineItemtrombone {
  fill: lime;
  stroke-width: 6;
}

.timelineItemdrums {
  fill: purple;
  stroke-width: 6;
}

.timelineItembanjo {
  fill: orange;
  stroke-width: 6;
}

.timelineItemkey {
  fill: gray;
  stroke-width: 6;
}

.timelineItemkey2 {
  fill: gray;
  stroke-width: 6;
}

.timelineItemsax {
  fill: pink;
  stroke-width: 6;
}

.timelineItempiano {
  fill: teal;
  stroke-width: 6;
}

.timelineItemharmonica {
  fill: fuchsia;
  stroke-width: 6;
}

.timelineItemwash {
  fill: navy;
  stroke-width: 6;
}
